#mainApp{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
#personal,#business{
  margin: 10px;
}
#modePick{
  display: flex;
  justify-content: center;
  
  width: 40%;
}

table.first,.result{
  background-color:rgba(255,255,255,0.3);
}
table.first,
td{
  border: 1px solid black;
}

form#input{
  margin: 5px;
}

table:not(.first) tr:first-child td {
  border-top: 0;
}
table:not(.first) tr td:first-child {
  border-right: 0;
}
table:not(.first) tr:last-child td {
  border-bottom: 0;
}
table:not(.first) tr td:last-child {
  border-left: 0;
}
#childs > td{
  border-top: 0;
}
td:empty::after {
  content: '\00a0';
}
td:empty {
  background-color: black;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
}
td,
th {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}
.error {
  background-color: red;
}
form {
  text-align: center;
}
h3 {
  text-align: center;
  margin-bottom: 10px;
  color: red;
}
p{
  margin: 0;
}

input[type=number],input[type=field]{
  max-width: 100%;
}
.result{
  margin-left: auto;
  margin-right: auto;
  
}
.result td{
  border: 0 !important;
  padding-left: 5px; 
}
.blur{
  filter: blur(2px);
}